.footer-container{
    display: flex;
    align-items: center;
    background-color:  rgb(54 246 7);;;
    justify-content: center;
    font-family: 'Caprasimo', cursive;
   

}


    // Styles for screens smaller than or equal to 768px
    